<%= render 'layouts/navbar' %>
    
    <div class="colorful">
      <center><h1>My Profile</h1>
    <div class="container">
    <div class="span3 well">
        <center>
        <% if @profile.image.attached? %>
          <!-- @post.image.present? will always return true, use attached? to check presence -->
            <p>
             
              <br>
              <!-- resize the image to display it --> 
              <%= image_tag(@profile.image, height: 200, width: 200) %>
            </p>
          <% end %>


        <h3><%= @profile.firstname %> <%= @profile.lastname %></h3><br>
        <p><strong>Address:</strong> <%= @profile.address %></p>
        <p><strong>Email:</strong> <%= @profile.user.email %></p>
		</center>
    </div>
   <%= link_to 'Edit', edit_profile_path(@profile) %> |
   <%= link_to 'Back', profiles_path %>
</div></div>